<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <base href="./">
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>

    <div class="header">
        <form action="/" method="GET">
            <button type="submit" class="home btn">HOME</button>
        </form>
        <form action="/register" method="GET">
            <button type="submit" class="signin btn">SIGN IN</button>
        </form>
        <form action="/login" method="GET">
            <button class="login btn">LOG IN</button>
        </form>
        <div class="seachfor">
            <input />
            <button class="seach btn">SEACH</button>
        </div>
    </div>
    <div class="bodycontent">
        <div class="nav">
            <dvi>QUEST</dvi>
            <dvi>LEARN</dvi>
            <dvi>SHOPS</dvi>
            <dvi>MARKET</dvi>
            <dvi>RELAX</dvi>
        </div>
        <div class="content">content
        </div>
    </div>
    <div class="footer">footer
    </div>
</body>

</html>