<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <form action="/login/post" method="POST">
        <div>userPageLogin</div>
        <label>UserID :</label>
        <input name="userIDInput" type="text" required />
        <label>Password :</label>
        <input name="passwordInput" type="password" required>
        <button type="submit">Log In</button>
    </form>
</body>

</html>