<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/register.css" />
    <title>Register</title>

</head>

<body>
    <div>
        <form action="/register/post" method="POST">
            <div class="header">
                <div>REGISTER</div>
                <label>Full Name :</label>
                <input name="fullName" type="text" required />

                <label>UserID :</label>
                <input name="userID" type="text" required />

                <label>Email :</label>
                <input name="email" type="email" required />

                <label>Password :</label>
                <input name="password" type="password" required />

                <label>PhoneNumBer :</label>
                <input name="PhoneNumBer" type="tel" required />

                <button type="submit">Register</button>
            </div>
        </form>
    </div>
</body>

</html>